<div class="form-group">
  <%= form.text_area :tweet, placeholder: "What's happening?", rows: '2', class: 'form-control w-100 border border-bottom border-top-0 border-left-0 border-right-0'%>
</div>

<div class="actions align-self-end">
  <%= form.submit 'Tweet', class:'btn twitter-bg text-white border-rad' %>
</div>      
